

/***-----------------------------------Style by Class--------------------***/
.card{/*this will make the cards have a small effect when hovering over them - Seb*/
    position: relative;
    width: 360px;
    height: 300px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px
    rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px
    rgba(0,0,0,0.22);
}
.row{
    display: inline-block;
}
.searchBar{
    margin:auto;
    width: 600px;
}

/***-------------------------------------Style by ID------------------***/





/**----------------------------------Styles by pseudoclass -----------------**/






/***---------------------------------------Styles by tag -----------------------***/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}
