/soen341webapp/.vs/ProjectSettings.json
/soen341webapp/.vs/slnx.sqlite
/soen341webapp/.vs/soen341webapp/v15/.suo
/soen341webapp/.vs/VSWorkspaceState.json
/soen341webapp/package.json
/soen341webapp/package.json
