<Template name="addPost">
    <div id="addPost" class="modal">
        <div class="modal-content">
            <h3 class="card-panel">New Want</h3>
            <form class="add-form card-panel">
                <div class="input-field col s6">
                    <select id="category" onchange="CategoryChange()">
                        <option value="" disabled selected>Choose a category</option>
                        <option value="Arts">Arts</option>
                        <option value="Prop">Prop</option>
                        <option value="Software">Software</option>
                    </select>
                    <label>Category</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Please choose a main category first" id="subcategory" type="text" class="validate">
                    <label for="subcategory" id="subcategoryinfo">Want SubCategory</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="what do you want?" id="title" type="text" class="validate">
                    <label for="title">Want Title</label>
                </div>
                <div class="input-field col s6">
                    <textarea placeholder="Try to be as descriptive as possible" id="desc" class="materialize-textarea"></textarea>
                    <label for="desc">Description</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Enter the URL for your Ad Picture" id="picture" type="text" class="validate">
                    <label for="picture">Ad Picture</label>
                </div>
                <input class="waves-effect waves-light btn submit-edited-post" type="submit" id="submittome" />
                <a href="#!" id= close class=" waves-effect waves-light right btn  modal-close">Cancel</a>
            </form>
        </div>
    </div>
</Template>
