<Template name="editPost">
    <div id="editPost" class="modal">
        <div class="modal-content">
            <h3 class="card-panel">Edit Want</h3>
            <form class="add-form card-panel">
                <div class="input-field col s6">
                    <select id="editcategory" onchange="CategoryChange()">
                        <option value="" disabled selected>Choose a category</option>
                        <option value="Arts">Arts</option>
                        <option value="Prop">Prop</option>
                        <option value="Software">Software</option>
                    </select>
                    <label>Category</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Please choose a main category first" id="editsubcategory" type="text" class="validate">
                    <label for="subcategory" id="editsubcategoryinfo">Want SubCategory</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="what do you want?" id="edittitle" type="text" class="validate">
                    <label for="title">Want Title</label>
                </div>
                <div class="input-field col s6">
                    <textarea placeholder="Try to be as descriptive as possible" id="editdesc" class="materialize-textarea"></textarea>
                    <label for="desc">Description</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Enter the URL for your Ad Picture" id="editPicture" type="text" class="validate">
                    <label for="picture">Ad Picture</label>
                </div>
                <div class="input-field col s6">
                    <input readonly  id="editlikes" type="text" class="validate">
                    <label for="editlikes">Post Likes</label>
                </div>
                <div class="input-field col s6">
                    <input readonly  id="editID" type="text" class="validate">
                    <label for="editID">Post ID</label>
                </div>
                <div class="input-field col s6">
                    <input readonly  id="editUserID" type="text" class="validate">
                    <label for="editUserID">User ID</label>
                </div>
                <div class="input-field col s6">
                    <input readonly  id="editTime" type="text" class="validate">
                    <label for="editTime">Post Creation date</label>
                </div>
                <input class="waves-effect waves-light btn submit-edited-post" type="submit" id="submittome" />
                <a href="#!" id= close class=" waves-effect waves-light right btn  close-edited-post">Discard changes</a>
            </form>
        </div>
    </div>
</Template>
