<Template name="footer">
    <footer class="page-footer blue-grey darken-4">
        <div class="footing">
            <div class="row">
                <div class="col s6">
                    <h5 class="white-text">MakerHub</h5>
                    <p class="grey-text text-lighten-4">About</p>
                </div>

                <div class="col s6">
                    <h5 class="white-text">Information</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/termsOfUse">Terms of use</a></li>
                        <li><a class="grey-text text-lighten-3" href="/privacyPolicy">Privacy Policy</a></li>
                        <li><a class="grey-text text-lighten-3" href="/help">Help</a></li>
                        <li><a class="grey-text text-lighten-3" href="/teamPage">Team Members</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &#169; 2017 Copyright MakerHub
                <a class="grey-text text-lighten-4 right" href="https://www.meteor.com/">Site powered by Meteor</a>
            </div>
        </div>
    </footer>
</Template>