<Template name="nav">
    <nav class="blue darken-3">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center"><img src="https://image.ibb.co/iFtAFb/makerhub4.png" alt="makerhub" width="150" height="50"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="nav-item">
                        {{> loginButtons}}
                    </li>
                </ul>
                <!--if you are logged in, you can see the add post button -->
                {{#if currentUser}}
                <a class="waves-effect waves-light btn modal-trigger" href="#addPost">Add a Want</a> {{else}}
                <button disabled>Please login to Add a Want </button>
                {{/if}}
            </div>
        </div>
    </nav>
</Template>