<template name="posts">
    <div class="searchBackground center ">
        <div class="searching center">
            <input id="search" type="text" placeholder="Search..." value="{{postsSearchQuery}}">
        </div>
    </div>
    <div class="feature center">
        FEATURED REQUESTS
    </div>
    {{#each searchResults}} {{> post }} {{/each}}
</template>

<Template name="post">
    <div class="row">
        <div class="col s8">
            <div class="card medium">
                <div class="card-content white-text">
                    <!-- the following adds the close icon that deletes the cards. The red-text text-darken-4 makes the icon red-->
                    <div>{{category}}<a href="#" class="delete-post right"><i
                            class="material-icons red-text text-darken-4">close</i></a></div>

                    <div class="titleCard white-text">
                        <h4 class="card-title">{{title}}</h4>
                        <p>Likes: {{likes}}
                            {{#if currentUser}}
                            <button class="like-button"></button>
                            {{/if}}
                        </p>
                        <!--title of the card-->
                    </div>
                    <div class="description blue lighten-5 black-text">
                        <div class="container">
                            <p>{{desc}}</p>
                            <!--description of the card-->
                            <br>
                            <br>
                        </div>
                        <br>
                        <br>
                        <br>
                        <p class="black-text center">post by {{userId}}</p>
                        <!--user who added this card-->
                        <p>{{createdAt}}</p>
                        <!--time the card was created-->
                    </div>
                <div class="bottomCard">
                    <a href="#" class="want-button">I also want this</a>
                    <a href="#">I will make this</a>
                    {{#if currentUser}}
                    <br>
                    <a class="edit-Post" onmouseover="this.style.cursor='pointer'"
                       style="cursor: pointer; cursor: hand;">Edit Text</a>
                    {{/if}}
                </div>
                </div>
            </div>
        </div>
    </div>
</Template>