<template name="posts">
    <div class="searchBackground center ">
        <form>
            <div class="searching input-field center">
                <input id="search" type="text" value="{{postsSearchQuery}}">
                <label class="searchIcon label-icon" for="search"><i class="material-icons">search</i></label>
            </div>
        </form>
    </div>
    <div class="feature center">
        <div class="featureText">FEATURED REQUESTS</div>
    </div>
    {{#each searchResults}} {{> post }} {{/each}}
</template>

<Template name="post">
    <div class="row">
        <div class="col s8">
            <div class="card medium">
                <div class="card-content white-text">
                    <!-- the following adds the close icon that deletes the cards. The red-text text-darken-4 makes the icon red-->
                    <div class="cardCategory">{{category}}</div>
                    <div class="cardSubCategory">{{subcategory}}</div>
                    <!--<div class="deleteCard"> <a href="#" class="delete-post right"><i
                             class="material-icons red-text text-darken-4">close</i></a>-->
                    <!--we don't need this on the front page-->
                    <br>
                        <div class="cardTitle"><h4 class="card-title">{{title}}</h4></div><!--title of the card-->
                        <div class="editPost"><a class="edit-Post btn-floating teal"
                                                 onmouseover="this.style.cursor='pointer'"
                                                 style="cursor: pointer; cursor: hand;"><i class="tiny material-icons">mode_edit</i></a>
                        </div>
                    <br>
                    <br>
                    <br>
                    <div class="likeAndTime">
                        <p class="timeCreated">{{createdAt}}</p>
                    </div>
                    <!--time the card was created-->
                    <div class="likeSection">
                        <p>Likes: {{likes}}
                            {{#if currentUser}}
                            <button class="like-button"></button>
                            {{/if}}
                        </p>
                    </div>
                    <div class="userSection">
                        <button class="userButton"><p class="right">{{userId}}</p></button>
                        <!--user who added this card-->
                    </div>
                    <br>
                    <div class="description blue lighten-5 black-text">
                        <p>{{desc}}</p>
                        <!--description of the card-->


                    </div>
                    <div class="bottomCard">
                        <a href="#" class="want-button waves-effect waves-light btn">WANT</a>
                        <a href="#" class="makeButton waves-effect waves-light btn">MAKE</a>
                        {{#if currentUser}}
                        <br>

                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</Template>