<Template name="profile">
  <div class="profileSection">
    <div class="container">
        <div style="border:2px black;">
            <div style="background-color:white;">
                <div class="container">
                    <br>
                    {{#each userInfo}}
                    <h5 class="header">Username: {{userName}}</h5>
                    <br>
                    <img src= {{picture}} style="width:250px">
                    {{/each}}
                </div>
                {{#each userInfo}}
                <div class="container">
                    <div class="header">
                        <br>
                        <h5>About:</h5>
                        <h6>First Name: {{firstName}}</h6>
                        <h6>Last Name:  {{lastName}}</h6>
                        <h6>Email:      {{email}}</h6>
                        <h6>City:       {{city}}</h6>
                        <h6>Province:   {{province}}</h6>
                        <br>
                        <h5>Skills:</h5>
                        <h6>{{skills}}</h6>
                        <h6></h6>
                        <br>
                        <h5>Activity:</h5>
                        <h6>Number of Posts:    #[TODO]</h6>
                        <h6>Number of Likes:    #[TODO]</h6>
                        <h6>Number of Searches: #[TODO]</h6>
                        <br>
                    </div>
                    <!--<button class="button">Edit profile</button>-->
                    <br>
                    <br>
                </div>
                {{/each}}
                <div  >

                    <ul>
                        {{#each userPosts}}
                        <div class="row">
                            <div class="col s8">
                                <div class="card medium">
                                    <div class="card-content white-text">
                                        <!-- the following adds the close icon that deletes the cards. The red-text text-darken-4 makes the icon red-->
                                        <div class="cardCategory">{{category}}</div>
                                        <div class="cardSubCategory">{{subCategory}}</div>
                                        <!--<div class="deleteCard"> <a href="#" class="delete-post right"><i
                                                 class="material-icons red-text text-darken-4">close</i></a>-->
                                        <!--we don't need this on the front page-->
                                        <br>
                                        <br>
                                            <div class="cardTitle"><h1 class="card-title">{{title}}</h1></div><!--title of the card-->
                                            <div class="editPost"><a class="edit-Post btn-floating teal"
                                                                     onmouseover="this.style.cursor='pointer'"
                                                                     style="cursor: pointer; cursor: hand;"><i class="tiny material-icons">mode_edit</i></a>
                                            </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="likeAndTime">
                                            <p class="timeCreated">{{createdAt}}</p>
                                        </div>
                                        <!--time the card was created-->
                                        <div class="likeSection">
                                            <p>Likes: {{likes}}
                                                {{#if currentUser}}
                                                <button class="like-button"><i class="tiny material-icons">thumb_up</i></button>
                                                {{/if}}
                                            </p>
                                        </div>
                                        <div class="userSection">
                                            <button class="userButton"><p class="right">{{userId}}</p></button>
                                            <!--user who added this card-->
                                        </div>
                                        <br>
                                        <div class="description blue lighten-5 black-text">
                                            <p>{{desc}}</p>
                                            <!--description of the card-->
                                        </div>
                                        <div class="bottomCard">
                                            <div class="wantButtonSection">
                                            <a href="#" class="want-button waves-effect waves-light btn">WANT</a>
                                            </div>
                                            <div class="makeButtonSection">
                                            <a href="#" class="makeButton waves-effect waves-light btn">MAKE</a>
                                            </div>
                                            {{#if currentUser}}
                                            <br>

                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
    </div>
  </div>

</Template>
