<Template name="profile">
    <div class="container">
        <div style="border:2px black;">
            <div style="background-color:white;">
                <div class="container">
                    <br>
                    <h5 class="header">Username: {{userName}}</h5>
                    <br>
                    <img src="http://www.loftladderscotland.com/avatars/default_avatar.png" style="width:250px">
                </div>
                <div class="container">
                    <div class="header">
                        <br>
                        <h5>Skills:</h5>
                        <h6>Excellent Linguistic skills</h6>
                        <h6>Efficient communicator</h6>
                        <h6>Excellent leadership skills</h6>
                        <br>
                        <h5>Activity:</h5>
                        <h6>Number of Posts: #</h6>
                        <h6>Number of Likes: #</h6>
                        <h6>Number of Searches: #</h6>
                        <br>
                        <h5>Contact Info:</h5>
                        <h6>First Name: {{firstName}}</h6>
                        <h6>Last Name: {{lastName}}</h6>
                        <h6>City: {{city}}</h6>
                        <h6>Province: {{province}}</h6>
                        <br>
                    </div>
                    <button class="button">Edit profile</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</Template>
