<Template name="teamPage">

        <div class="teamPageTitle center"><h1>SOEN 341 TEAM PAGE</h1></div>
    <div class="teamPageSection">
    <div class="row">
    <div class="teamMemberArnav">
            <div class="cardMembers card horizontal">
                <div class="card-image">
                    <a href="https://ibb.co/mX3hnb"> <img src="https://image.ibb.co/jMsKYG/ArnavPic.jpg" height="100%"></a>
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <h5>Arnav Bhardwaj</h5>
                        <p>I am a the Team Leader, but make my teammates contact the TA.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

    </div>
    <div class="teamMemberJosh">

            <div class="cardMembers card horizontal">
                <div class="card-image">
                    <a href="https://ibb.co/eLhQ7b"> <img src="https://image.ibb.co/dvqpYG/joshPic2.jpg" height="100%"></a>
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <h5>Josh Kukulsky</h5>
                        <p>Handomse Man</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

    </div><div class="teamMemberSeb">

            <div class="cardMembers card horizontal">
                <div class="memberImage card-image">
                    <a href="https://ibb.co/m21aNb"> <img src="https://image.ibb.co/gGWyaw/sebPic.jpg" height="100%"></a>
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <h5>Sebastien Ong Tone</h5>
                        <p>Everyone hates my CSS</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

    </div>
    <div class="teamMemberNick">

            <div class="cardMembers card horizontal">
                <div class="card-image">
                    <a href="https://ibb.co/cTK57b"> <img src="https://image.ibb.co/bwiXnb/nickPic.jpg" height="100%"></a>
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <h5>Nicholas Gattuso</h5>
                        <p>The In House DJ!</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

    </div>
        <div class="teamMemberMario">

                <div class="cardMembers card horizontal">
                    <div class="card-image">
                        <a href="https://ibb.co/drNxLw"> <img src="https://image.ibb.co/g4G2nb/marioPic.jpg" height="100%"></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>Mario Bastiampillai</h5>
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>

        </div>
        <div class="teamMemberDarrin">

                <div class="cardMembers card horizontal">
                    <div class="memberImage card-image">
                        <a href="https://swarthmoreasianorganization.files.wordpress.com/2010/04/asian-fail.jpg"> <img src="https://swarthmoreasianorganization.files.wordpress.com/2010/04/asian-fail.jpg" height="100%"></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>Darrin Fong</h5>
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="teamMemberMo">

                <div class="cardMembers card horizontal">
                    <div class="card-image">
                        <a href="https://ibb.co/fjLj0w"> <img src="https://image.ibb.co/b8HmDG/moPic.jpg" height="100%"></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>Mohamad Ghalayini</h5>
                            <p>I am Little Momo</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>

        </div>
        <div class="teamMemberSiamak">
                <div class="cardMembers card horizontal">
                    <div class="card-image">
                        <a href="https://ibb.co/ghuu0w"> <img src="https://image.ibb.co/kg6k7b/siamak_Pic.jpg" height="100%"></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>Siamak Samie</h5>
                            <p>I have a sweet flow!</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
</Template>