<Template name="teamPage">

        <div class="teamPageTitle center"><h1>SOEN 341 TEAM F PAGE</h1></div>
    <div class="teamPageSection">
    <div class="row">
    <div class="teamMemberArnav">
            <div class="cardMembers card horizontal">
                <div class="card-image">
                    <a href="https://ibb.co/mX3hnb"> <img src="https://image.ibb.co/jMsKYG/ArnavPic.jpg" height="100%"></a>
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <h5>Arnav Bhardwaj</h5>
                        <p>Team Leader
                        <br>
                        Software Engineer Graduate
                        <br>
                        Bachelor of Computer Science</p>
                    </div>
                    <div class="card-action color: black">
                        <a href="https://github.com/Arnav-Bhardwaj">Git Hub</a>
                    </div>
                </div>
            </div>

    </div>
    <div class="teamMemberJosh">

            <div class="cardMembers card horizontal">
                <div class="card-image">
                    <a href="https://ibb.co/eLhQ7b"> <img src="https://image.ibb.co/dvqpYG/joshPic2.jpg" height="100%"></a>
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <h5>Josh Kukulsky</h5>
                        <p>Electrical Engineer
                        <br>
                        Scrum Master
                        </p>
                    </div>
                    <div class="card-action color: black">
                        <a href="https://www.youtube.com/user/Joshua91601">Youtube Channel</a>
                    </div>
                </div>
            </div>

    </div><div class="teamMemberSeb">

            <div class="cardMembers card horizontal">
                <div class="memberImage card-image">
                    <a href="https://ibb.co/m21aNb"> <img src="https://image.ibb.co/gGWyaw/sebPic.jpg" height="100%"></a>
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <h5>Sebastien Ong Tone</h5>
                        <p>Software Engineer
                        <br>
                        Lead CSS</p>
                    </div>
                    <div class="card-action color: black">
                        <a href="https://github.com/Songtone">Git Hub</a>
                    </div>
                </div>
            </div>

    </div>
    <div class="teamMemberNick">

            <div class="cardMembers card horizontal">
                <div class="card-image">
                    <a href="https://ibb.co/jC0Bhm"> <img src="https://image.ibb.co/h1qoTR/nickPic.jpg" height="100%"></a>
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <h5>Nicholas Gattuso</h5>
                        <p>Computer Engineer
                        <br>
                        Test Master</p>
                    </div>
                    <div class="card-action color: black">
                        <a href="https://ngattuso.com">DJ N. Gattuso</a>
                    </div>
                </div>
            </div>

    </div>
        <div class="teamMemberMario">

                <div class="cardMembers card horizontal">
                    <div class="card-image">
                        <a href="https://ibb.co/drNxLw"> <img src="https://image.ibb.co/g4G2nb/marioPic.jpg" height="100%"></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>Mario Bastiampillai</h5>
                            <p>Computer Engineer</p>
                        </div>
                        <div class="card-action color: black">
                            <a href="https://github.com/MBastiampillai">Git Hub</a>
                        </div>
                    </div>
                </div>

        </div>
        <div class="teamMemberDarrin">

                <div class="cardMembers card horizontal">
                    <div class="memberImage card-image">
                        <a href="https://ibb.co/nmzXoR"> <img src="https://image.ibb.co/kapAa6/darrin_Pic.jpg" height="100%"></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>Darrin Fong</h5>
                            <p>Software Engineer</p>
                        </div>
                        <div class="card-action color: black">
                            <a href="https://github.com/DarrinFong">Git Hub</a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="teamMemberMo">

                <div class="cardMembers card horizontal">
                    <div class="card-image">
                        <a href="https://ibb.co/fjLj0w"> <img src="https://image.ibb.co/b8HmDG/moPic.jpg" height="100%"></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>Mohamad Ghalayini</h5>
                            <p>Computer Engineer
                            <br>
                            Bug Fixer</p>
                        </div>
                        <div class="card-action color: black">
                            <a href="https://github.com/mohghalayini">Git Hub</a>
                        </div>
                    </div>
                </div>

        </div>
        <div class="teamMemberSiamak">
                <div class="cardMembers card horizontal">
                    <div class="card-image">
                        <a href="https://ibb.co/ghuu0w"> <img src="https://image.ibb.co/kg6k7b/siamak_Pic.jpg" height="100%"></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>Siamak Samie</h5>
                            <p>I have a sweet flow!</p>
                        </div>
                        <div class="card-action color: black">
                            <a href="https://github.com/SiamakSamie">Git Hub</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
</Template>