<Template name="wants">
    <div class="container">
        <div style="border:2px black;">
            <div style="background-color:white;">
                <div>
                    <h2>Wants</h2>
                    <ul>
                        {{#each userWants}} 

                              <li><a href="#">{{postId}}</a></li>                      

                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</Template>



